Resume Shorlister.json
{
  "name": "Resume Shorlister",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "d6e73a4e-0d1e-4014-85a0-5e7b084b622f",
      "name": "Telegram Trigger",
      "webhookId": "4cf50fca-421f-4d0a-bdce-8e29005a4431",
      "credentials": {
        "telegramApi": {
          "id": "R459lIL0ThkawVzu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e5b2f0ca-4cf0-4d8c-b137-442600ef2bb6",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "hi",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "7383546c-618f-4e84-aa88-b1e3ac5a595c",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "hello",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "e445ca12-270b-47de-b3c6-a39c3372e2a6",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "hey",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "7574cb49-6cd5-4b18-aed5-edc6bdfb5212",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "=Hello  {{ $json.message.from.first_name }} \n\nYou can upload a zip file or a single pdf so we can process to calculate the ATS Score ",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        -96
      ],
      "id": "552436b0-92ae-4293-a011-7d2696a43871",
      "name": "Send a text message",
      "webhookId": "864c5be7-b990-484f-a7c8-51ed6fb83f76",
      "credentials": {
        "telegramApi": {
          "id": "R459lIL0ThkawVzu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.document.file_name }}",
                    "rightValue": ".pdf",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    },
                    "id": "d8471642-086f-4455-a845-8cb264bda4c7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "22de95a1-4e03-46c4-a37b-30704cf9c16a",
                    "leftValue": "={{ $json.message.document.file_name }}",
                    "rightValue": ".zip",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ZIP"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        416,
        96
      ],
      "id": "49b517ca-99d5-44d7-8df0-fb58f4d855d6",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "6ee15980-a7b4-4854-9bfd-22b59b18f2a0",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert ATS (Applicant Tracking System) analyzer with deep experience in HR, recruitment, and resume evaluation. I will provide you with a resume text. You must evaluate it strictly like an ATS software.\n\nYour tasks:\n\nParse the resume and identify all key sections (Contact Info, Summary, Skills, Experience, Education, Certifications, Projects).\n\nCheck ATS compatibility for formatting, keyword usage, clarity, and structure.\n\nIdentify missing or weak ATS components, like improper formatting, missing dates, not enough measurable results, missing action verbs, lack of job-specific keywords, etc.\n\nCheck keyword density and match score for common job descriptions in the same domain.\n\nGive a final ATS Score between 0–100, where:\n\n0–40 = Poor\n\n41–60 = Average\n\n61–80 = Good\n\n81–100 = Excellent\n\nPresent output in this EXACT format:\n\nHere is the resume text:\n {{ $json.text }}\n\nmake sure you only provide the  name  , email , mobile no , ats score as an output \n\nin the form of \n{name : \nemail : \nmobile no : it can start with +91 or a number also possibilities of space so you have to store the digits and also store the digits without space at the end return only number at the end return only number\nats_score :}\n\n",
        "options": {
          "systemMessage": "You are now ATS-Evaluator-GPT, an expert system built to analyze resumes EXACTLY like top Applicant Tracking Systems (ATS) used by companies such as Google, Amazon, Deloitte, Microsoft, and Accenture.\n\nYour behavior rules:\n\nYou must provide an ATS Score between 0–100 based on formatting, keywords, clarity, structure, and job-match relevance.\n\nYou must analyze resumes with zero bias and maximum precision.\n\nYou must identify strengths, weaknesses, formatting gaps, keyword misses, and structural errors exactly as ATS algorithms do.\n\nYou must point out anything that reduces ATS readability, including icons, tables, columns, PDFs issues, missing dates, weak action verbs, or poor keyword density.\n\nYou must always provide clear, actionable improvements to increase the ATS score.\n\nYou must NOT rewrite the resume unless the user explicitly asks for it.\n\nYour output must always follow the structure required by the user prompt.\n\nBefore giving the score, you must:\n\nParse the resume.\n\nDetect sections.\n\nEvaluate formatting.\n\nEvaluate keyword match.\n\nIdentify missing components.\n\nGenerate the final 0–100 ATS score.\n\nYou are strict, professional, and highly detail-oriented.\nNever break character.\n\n\nand at the end you only provide the namee  , email , mobile no , ats score not the other stuffs  in the form of ats_score :  ___ in json \n\nin the form of \n{name : \nemail : \nmobile no : it can start with +91 or a number also possibilities of space so you have to store the digits and also store the digits without space at the end return only number at the end return only number\nats_score :}\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        832,
        0
      ],
      "id": "7a5731db-eab5-4520-9532-040e7b7701dd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        848,
        192
      ],
      "id": "a4987e27-a986-49c0-89cb-aa7a4a2fea8d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "PBaYxGXyWLwlMi8H",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "return [{\"output\" : items[0].json[\"output\"].strip(\"```json \\n\")}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        0
      ],
      "id": "c77b4c02-a3fe-4124-8499-1f5191b7832c",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "72a41e98-ba30-4b4f-ac07-8e385258df2e",
              "name": "out",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1392,
        0
      ],
      "id": "d5bd168e-f0cc-4d7c-a87f-cf96105da5a9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "33b558e1-1aa5-4107-911f-c94e95e49ed7",
              "leftValue": "={{ $json.out.ats_score }}",
              "rightValue": 75,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1600,
        0
      ],
      "id": "87d91563-ff8b-4185-a515-b2bb8dda0288",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1AnNTaOxSIYiRWZ_0GmisX2XhVwAUN_C4m1CTLShaSJw",
          "mode": "list",
          "cachedResultName": "Resume Shortlist",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AnNTaOxSIYiRWZ_0GmisX2XhVwAUN_C4m1CTLShaSJw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "accepted",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AnNTaOxSIYiRWZ_0GmisX2XhVwAUN_C4m1CTLShaSJw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Edit Fields').item.json.out.name }}",
            "Email": "={{ $('Edit Fields').item.json.out.email }}",
            "Mobile No": "={{ $('Edit Fields').item.json.out.mobile_no }}",
            "ATS Score": "={{ $('Edit Fields').item.json.out.ats_score }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mobile No",
              "displayName": "Mobile No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ATS Score",
              "displayName": "ATS Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1808,
        -96
      ],
      "id": "5d231453-de44-4fda-90c5-78af2417c029",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a6zzE79yKV3su9QO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1AnNTaOxSIYiRWZ_0GmisX2XhVwAUN_C4m1CTLShaSJw",
          "mode": "list",
          "cachedResultName": "Resume Shortlist",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AnNTaOxSIYiRWZ_0GmisX2XhVwAUN_C4m1CTLShaSJw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 476479555,
          "mode": "list",
          "cachedResultName": "rejected",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AnNTaOxSIYiRWZ_0GmisX2XhVwAUN_C4m1CTLShaSJw/edit#gid=476479555"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.out.name }}",
            "Email": "={{ $json.out.email }}",
            "Mobile No": "={{ $json.out.mobile_no }}",
            "ATS Score": "={{ $json.out.ats_score }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mobile No",
              "displayName": "Mobile No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ATS Score",
              "displayName": "ATS Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1808,
        112
      ],
      "id": "e5785b74-5e1b-4b1d-a648-870aad460a22",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a6zzE79yKV3su9QO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "outputPrefix": "data"
      },
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        592,
        368
      ],
      "id": "265d9b6a-4e2c-4b6c-92ae-d0209e89b726",
      "name": "Compression"
    },
    {
      "parameters": {
        "fieldToSplitOut": "$binary",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        800,
        368
      ],
      "id": "83e877e2-7192-4e6a-b143-c84919a13188",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1008,
        368
      ],
      "id": "a82b640d-dddd-4816-8be1-c847122bb78c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "={{$binary.keys()[0]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1216,
        464
      ],
      "id": "8d6b738e-604d-42a3-b6a3-bb2d92c0e9a4",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert ATS (Applicant Tracking System) analyzer with deep experience in HR, recruitment, and resume evaluation. I will provide you with a resume text. You must evaluate it strictly like an ATS software.\n\nYour tasks:\n\nParse the resume and identify all key sections (Contact Info, Summary, Skills, Experience, Education, Certifications, Projects).\n\nCheck ATS compatibility for formatting, keyword usage, clarity, and structure.\n\nIdentify missing or weak ATS components, like improper formatting, missing dates, not enough measurable results, missing action verbs, lack of job-specific keywords, etc.\n\nCheck keyword density and match score for common job descriptions in the same domain.\n\nGive a final ATS Score between 0–100, where:\n\n0–40 = Poor\n\n41–60 = Average\n\n61–80 = Good\n\n81–100 = Excellent\n\nPresent output in this EXACT format:\n\nHere is the resume text:\n {{ $json.text }}\n\nmake sure you only provide the  name  , email , mobile no , ats score as an output \n\n\nin the form of \n{name : \nemail : \nmobile no : it can start with +91 or a number also possibilities of space so you have to store the digits and also store the digits without space at the end return only number\nats_score :}\n",
        "options": {
          "systemMessage": "You are now ATS-Evaluator-GPT, an expert system built to analyze resumes EXACTLY like top Applicant Tracking Systems (ATS) used by companies such as Google, Amazon, Deloitte, Microsoft, and Accenture.\n\nYour behavior rules:\n\nYou must provide an ATS Score between 0–100 based on formatting, keywords, clarity, structure, and job-match relevance.\n\nYou must analyze resumes with zero bias and maximum precision.\n\nYou must identify strengths, weaknesses, formatting gaps, keyword misses, and structural errors exactly as ATS algorithms do.\n\nYou must point out anything that reduces ATS readability, including icons, tables, columns, PDFs issues, missing dates, weak action verbs, or poor keyword density.\n\nYou must always provide clear, actionable improvements to increase the ATS score.\n\nYou must NOT rewrite the resume unless the user explicitly asks for it.\n\nYour output must always follow the structure required by the user prompt.\n\nBefore giving the score, you must:\n\nParse the resume.\n\nDetect sections.\n\nEvaluate formatting.\n\nEvaluate keyword match.\n\nIdentify missing components.\n\nGenerate the final 0–100 ATS score.\n\nYou are strict, professional, and highly detail-oriented.\nNever break character.\n\n\nand at the end you only provide the namee  , email , mobile no , ats score not the other stuffs  in the form of ats_score :  ___ in json \n\nin the form of \n{name : \nemail : \nmobile no : it can start with +91 or a number also possibilities of space so you have to store the digits and also store the digits without space at the end return only number\nats_score :}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1392,
        464
      ],
      "id": "0b98b410-67b9-4296-9d2a-1719ad862717",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1408,
        656
      ],
      "id": "24977338-9c5e-48eb-b801-41bfaf0e093c",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "PBaYxGXyWLwlMi8H",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "return [{\"output\" : items[0].json[\"output\"].strip(\"```json \\n\")}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        464
      ],
      "id": "a83d1439-38d4-4968-9536-c1c86f5d5d77",
      "name": "Code in Python (Beta)1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "72a41e98-ba30-4b4f-ac07-8e385258df2e",
              "name": "out",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1952,
        464
      ],
      "id": "ede8f91c-d409-487a-8be4-15b05ffdca55",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "33b558e1-1aa5-4107-911f-c94e95e49ed7",
              "leftValue": "={{ $json.out.ats_score }}",
              "rightValue": 75,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2160,
        464
      ],
      "id": "23ef7182-0c57-4598-9aa1-eea3172b1866",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1AnNTaOxSIYiRWZ_0GmisX2XhVwAUN_C4m1CTLShaSJw",
          "mode": "list",
          "cachedResultName": "Resume Shortlist",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AnNTaOxSIYiRWZ_0GmisX2XhVwAUN_C4m1CTLShaSJw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "accepted",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AnNTaOxSIYiRWZ_0GmisX2XhVwAUN_C4m1CTLShaSJw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.out.name }}",
            "Email": "={{ $json.out.email }}",
            "Mobile No": "={{ $json.out.mobile_no }}",
            "ATS Score": "={{ $json.out.ats_score }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mobile No",
              "displayName": "Mobile No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ATS Score",
              "displayName": "ATS Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2368,
        368
      ],
      "id": "5f894877-26ba-45b2-9388-b452b9c056ff",
      "name": "Append row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a6zzE79yKV3su9QO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1AnNTaOxSIYiRWZ_0GmisX2XhVwAUN_C4m1CTLShaSJw",
          "mode": "list",
          "cachedResultName": "Resume Shortlist",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AnNTaOxSIYiRWZ_0GmisX2XhVwAUN_C4m1CTLShaSJw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 476479555,
          "mode": "list",
          "cachedResultName": "rejected",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AnNTaOxSIYiRWZ_0GmisX2XhVwAUN_C4m1CTLShaSJw/edit#gid=476479555"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.out.name }}",
            "Email": "={{ $json.out.email }}",
            "Mobile No": "={{ $json.out.mobile_no }}",
            "ATS Score": "={{ $json.out.ats_score }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mobile No",
              "displayName": "Mobile No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ATS Score",
              "displayName": "ATS Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2368,
        576
      ],
      "id": "8876c854-5233-424c-b899-146f7bb5cb93",
      "name": "Append row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a6zzE79yKV3su9QO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2896,
        480
      ],
      "id": "7465aac7-e55a-49cf-9889-db0f380f515d",
      "name": "Merge"
    },
    {
      "parameters": {
        "amount": 8
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3104,
        480
      ],
      "id": "157fa807-5b20-4d65-8c71-b460b2fe6a20",
      "name": "Wait",
      "webhookId": "e17783dc-bf97-4aea-94ce-58256b7d9aaa"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Resume Status",
        "emailType": "text",
        "message": "=Hello  {{ $json.Name }}\n\nCongratulations your resume has been shortlisted 🎉🎉🍾",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2576,
        368
      ],
      "id": "6416c51d-9526-4763-bf1f-0582492fc8fb",
      "name": "Send a message",
      "webhookId": "42f7ec2d-2236-409e-9a9c-41e25bfd750b",
      "credentials": {
        "gmailOAuth2": {
          "id": "TIHP3ljkGhZWOEMo",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Resume Status",
        "emailType": "text",
        "message": "=Hello  {{ $json.Name }}\n\nSorry your resume has been rejected🥲\nBetter Luck Next Time✨",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2592,
        576
      ],
      "id": "19e17a04-3e81-4945-a7f0-c545173b563f",
      "name": "Send a message1",
      "webhookId": "ef34937f-ce7b-4240-bb49-4f8dbc65e263",
      "credentials": {
        "gmailOAuth2": {
          "id": "TIHP3ljkGhZWOEMo",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Resume Status",
        "emailType": "text",
        "message": "=Hello  {{ $json.Name }}\n\nCongratulations your resume has been shortlisted 🎉🎉🍾",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2016,
        -96
      ],
      "id": "21cb5f8f-3de3-42a8-ac36-5c7c42ff2935",
      "name": "Send a message2",
      "webhookId": "42f7ec2d-2236-409e-9a9c-41e25bfd750b",
      "credentials": {
        "gmailOAuth2": {
          "id": "TIHP3ljkGhZWOEMo",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Resume Status",
        "emailType": "text",
        "message": "=Hello  {{ $json.Name }}\n\nSorry your resume has been rejected🥲\nBetter Luck Next Time✨",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2016,
        112
      ],
      "id": "d3631c7e-5b9c-40ef-8b1d-3f942483d530",
      "name": "Send a message3",
      "webhookId": "ef34937f-ce7b-4240-bb49-4f8dbc65e263",
      "credentials": {
        "gmailOAuth2": {
          "id": "TIHP3ljkGhZWOEMo",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Compression",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compression": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet2": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet3": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "95bc11cb-c99d-447d-bcd1-2e344bb0d5d1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c4e8019c8ddba6642de65f45e14e408175dcd56ffc274feec495a0d7e28340b2"
  },
  "id": "MTo2QXLkQmlsucqU",
  "tags": []
}